.dash {
  font-family: Helvetica;
}

#chatcontainer {
  margin: 0 auto;
}

#chatinner {
  width: auto;
  text-align: center
}

.child {
  float: center;
  margin-right: 40px;
  overflow:auto;
  display: inline-block;
}
