.dash {
  font-family: Helvetica;
}

#chatcontainer {
  margin: 0 auto;
}

#chatinner {
  width: auto;
  text-align: center
}

.child {
  float: center;
  width: 225px;
  height: 300px;
  display: inline-block;
}
