.box {
  width: auto;
  height: 30px;
  padding: 20px;
  border: 10px outset #555555;
  border-radius: 8px;
  font-family: Helvetica;
  font-weight: bold;
  color: #464647;
}

.mytxt {
  float: right;
  color: #464647;
  font-weight: bold;
}
